<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Curent Seconds: <%= seconds %></p>
    <p><% if (seconds % 2 !== 0) { %>
        <% items.forEach(fruit => { %>
            <li>
                <%= fruit %>
            </li>
        <% }) %>
      <% } else { %>
        <p>No items to display.</p>
    <% } %></p>
    <p><%- htmlContent %></p>
    <%- include('footer.ejs') %>
</body>
</html>